body {

 text-align: center;
 margin:20px;
 
}


div{
display:flex;
flex-direction: column;



}
h2{
 
  font-size:75px;
}
header{
background: lightgrey; 
line-height: 10px;
margin: 10px;
outline:2px solid darkgrey;
}
main{
background: lightgrey;
height:400px;
margin:10px;
outline:2px solid darkgrey;
}
footer {
background:lightgrey;
margin:10px;
outline:2px solid darkgrey;
}


@media (min-width:600px)
{
.BC{
  display:flex;
  flex-direction: row;
}
header{
  width:650px;
}
main{
  
height:200px;
width:400px;
}
footer{
  width:230px;
  height:200px;
}
}

  




