body {
  background: papayawhip;
  text-align: center;
  font-size: 70px;
  width:600px;

}
div.a{
  background: lightgrey;
  line-height: 2;
  width:600px;
  margin:10px;
  outline:2px solid darkgrey;
}
div.b{
  background:lightgrey;
  line-height:5;
  width:600px;
  margin:10px;
  outline:2px solid darkgrey;
}
div.c{
  background:lightgrey;
  width: 200px;
  height:200px;
  margin:10px;
  outline:2px solid darkgrey;
}
div.d{
  background:lightgrey;
  width: 200px;
  height:200px;
  margin:10px;
  outline:2px solid darkgrey;
}
div.e{
  background:lightgrey;
  width:200px;
  height:200px;
  margin:10px;
  margin-right:0px;
  outline:2px solid darkgrey;



}
div.f{
  background:lightgrey;
  width:595px;
  height:160px;
  margin-top:15px;
  margin-left: 13px;
  outline:2px solid darkgrey;
}
.CDE{
  display:flex;
  width:600px;
}
div.container{
  width:500px;
}

@media(min-width:700px){
 div.b{
  width:435px;
 }
 .CDEF{
  width:300px;
  display:flex;
  flex-direction: column;

 }
div.f{
  position:absolute;
  right:1px;
  top:146px;
  z-index:-1;
  width: 151px;
  height: 568px;
  left: 457px;
}
div.CDE{
  width:450px;
}
  }
  


